@import 'normalize';

@font-face{
  font-family: 'Aller Bold';
  src: url('../fonts/Aller_Std_Bd.ttf');
}
@font-face{
  font-family: 'Aller Light';
  src: url('../fonts/Aller_Std_Lt.ttf');
}
@font-face{
  font-family: 'Aller Regular';
  src: url('../fonts/Aller_Std_Rg.ttf');
}
body{
  background: #2c2c2c url('../images/topbg.jpg') no-repeat center center fixed;
  font-family:'Open Sans', sans-serif;
  background-size: cover;
}

h1{
  font-family: 'Aller Bold', sans-serif;
}
h2{
  font-family: 'Aller Light', sans-serif;
}

/** header **/
#header_wrapper{
  width: 960px;
  height: 624px;
  color: white;
  margin: 50px auto;
  overflow: hidden;
  .nav{
    margin-top: 35px;
    
    a{
      font-family: 'Aller Regular', sans-serif;
      font-size: 18px;
      color: white;
      text-transform: uppercase;
      
      &:hover{
        background: none;
        box-shadow: 0px 3px 0px 0px rgb(255,255,255);
      }
    }
  }
  .top-description{
    margin-top: 35px;
    
    h1{
      font-size: 52px;
    }
    h2{
      font-size: 34px;
    }
    p{
      font-size: 21px;
    }
  }
  
  .top-phones{
    margin-top: 35px;
    img{
      float: right;
    }
  }
  
  .stores-banner{
    padding: 0;
    
    a{
      margin-top:45px;
      font-family: 'Aller Bold', sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      height: 67px;
      line-height: 49px;
      
      &:nth-child(3){
        margin-left: 1%;
      }
      
      img{
        width:49%;
        margin-top:10px;
      }
    }
  }
  
}

/** About **/
#about_wrapper{
  height: 520px;
  background: #fff;
  color: #4e5b61;
  
  img{
    margin-top: 88px;
  }
  h2{
    font-family: 'Aller Bold', sans-serif;
    font-size: 36px;
    margin-top: 160px;
  }
  p{
    font-family:'Open Sans', sans-serif;
    font-size: 19px;
  }
  
  .col-sm-4{
    padding-left: 0;
  }
  .col-sm-8{
    padding-left: 50px;
  }
  .row{
    border-bottom: 1px solid rgba(78,91,97,0.3);
  }
  
}

/** Feature **/

#feature_wrapper{
  height: 500px;
  background: #2c2c2c url('../images/featurebg.jpg') no-repeat center center fixed;
  color: white;
  &:before{
    opacity: 0.9;
  }
  h2{
    margin-top: 60px;
    font-family: 'Aller Bold', sans-serif;
    font-size: 52px;
  }
  h3{
    font-family: 'Aller Light', sans-serif;
    font-size: 37px;
  }
}
/** Team **/
#team_wrapper{
  height: 430px;
  background: #fff;
  color: #4e5b61;
  .container{
    padding-top: 80px;
  }
  h4{
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 15px;
  }
  h2{
    font-family: 'Aller Bold', sans-serif;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  p{
    font-size: 14px;
  }
  .media{
    margin-top: 30px;
    
    &:first-child{
      margin-top: 0;
    }
  }
  .col-sm-6{
    padding-left: 0;
    
    .col-sm-11{
      padding: 0;
    }
  }
  .contact{
    p{
      font-size: 17px;
      margin-bottom: 25px;
    }
  }
}
/** Footer **/

#footer_wrapper{
  height: 200px;
  background: #fff;
  border-top: 1px solid rgba(78,91,97,0.3);
  padding-top: 40px;
  font-family: 'Aller Light', sans-serif;
  font-size: 16px;
  span{
    font-weight: bold;
    color: #4e5b61;
  }
  a{
    color: #a6adb0;
    
    &:hover{
      text-decoration: none;
    }
  }
}